*{
    margin: 0;
    padding: 0;
}

.open-sans{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: #F1F1F3;
}
.logho{
    font-size: 32px;
    font-weight:bold ;
}
.Sign-In{
    font-size: 18px;
    font-weight:600px;
    padding: 5px ;
    outline:none ;
    border:1px solid #006A50;
    color:#006A50 ;
    border-radius: 4px;
   
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    align-items:center ;

}
.hero-section{
    background-color:#C6E4D6 ;
    width: 1200px;
    height: 500px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    padding-top:80px;
    padding-right:100px  ;
    padding-left:100px  ;
    padding-bottom:80px ;
    align-items: center;
    margin-bottom: 50px;


}
.hero-title{
    font-size: 24px;
    color:#0E0E0E ;
}
.hero-description{
    font-size: 56px;
    font-weight:bold;
    color:#0E0E0E ;
}
.hero-button{
    font-size:18px;
    font-weight: 500px;
    background-color:#006A50 ;
    color:#FFFFFF ;
    padding: 7px;
    outline: none;
    border: 1px solid #006A50;
    border-radius: 4px;

}
.hero-img{
 width: 474px;
 height: 400px;
}

/* pillars section */

.pilllars{
   
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 324px;
    margin: 0 auto;

}
.pillars-all-cards{
    display: flex;
    gap: 20px;
}
.Pillars-title{
    font-size:40px ;
    font-weight: bold;
    color:#0E0E0E ;
    margin-bottom: 20px;
}
.pillars-cards{
    background-color:#FFFFFF ;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #F3EBEB;
}
.pillars-img{
    width: 64px;
    height: 64px;
    margin-bottom: 10px;

}
.pillars-cards-title{
    font-size: 2opx;
    font-weight: bold;
    color:#0E0E0E ;
    margin-bottom: 5px;
}
/* vision section */
.vision{
    width: 1200px;
    height: 325px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.vision-title{
    font-size:40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.vision-all-cards{
    display: flex;
    gap: 30px;
    width: 1200px;
    height: 325px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.vision-cards-1{
    background-color: #cfdcf3;
    width: 410px;
    height: 300px;
    padding: 24px;
    border-radius: 10px; 
}
.vision-cards-2{
    background-color: #C6E4D6;
    width: 410px;
    height: 300px;
    padding: 24px;
    border-radius: 10px;

}
.vision-cards-3{
    background-color: #F7EBCF;
    width: 410px;
    height: 300px;
    padding: 24px;
    border-radius: 10px;
}
.vision-img{
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}
.vision-cards-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
   
}
.vision-button-1{
    padding: 5px;
    outline: none;
    border: none;
    background-color: #5490F5;
    color: white;
    border-radius: 3px;
    margin-top: 60px;

}
.vision-button-2{
    padding: 5px;
    outline: none;
    background-color: #09A15C;
    color: white;
    border-radius: 3px;
    margin-top: 60px;
    border: none;
}
.vision-button-3{
    padding: 5px;
    outline: none;
    background-color: #FFC239;
    color: white;
    border-radius: 3px;
    margin-top: 60px;
    border: none;
}

.Chief-Adviser{
    background-color: white;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    padding: 25px;
    background-image: url(quote-bg.png);
    background-repeat: no-repeat;
    background-position: start;
    border-radius: 20px;
    margin-bottom: 20px;
}

.Adviser-name{
 font-size:20px ;
 font-weight:500px ;
 margin-top:10px ;
 margin-bottom:10px;
}


.opinion-container{
width: 1200px;
height: 400px;
margin: 0 auto;
justify-content: center;
margin-top: 30px;
}

table{
    background-color: white;
   
}
th{
    background-color:#C6E4D6 ;
    padding: 20px;

}
td button{
    padding: 5px;
    background-color: #C6E4D6;
}

table ,tr,td {
    border: 2px solid #CDC5C5;
    padding: 15px;
    border-collapse: collapse;
    text-align: center;
}
/* news section */
.news{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}


.news-title{
    font-size:40px ;
    font-weight:bold ;
    margin-top: 20px;
    margin-bottom: 20px;


}
.news-description{
    margin-bottom: 10px;
}
.news-card{
    width: 1200px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 30px;

}
.news-photo{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.news-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.news-headline{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.news-img{
    width:134px ;
    height:40px ;
    margin-bottom: 5px;
}
.news-button{
    padding: 8px;
    background-color:#006A50 ;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
}

.donate{
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.donate-title{
    font-size:40px;
    font-weight:bold ;
}
.donate-all-button{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}
.donate-button1{
padding: 40px;
border: none;
border-radius: 10px;
font-size:40 px;
font-weight:bolder ;
background-color: white;
}
.donate-button2{
   padding: 40px;
    border: none;
    border-radius: 10px;
    background-color: #C6E4D6; 

}
.submit-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#006A50 ;
    color: white;
    margin-top: 20px;
    
}

.donate-input{
    width: 800px;
    height: 55px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
}
.subscribe {
   width: 1000px; 
   background-color: #C6E4D6;
   padding: 30px;
   margin: 0 auto;
   justify-content: center;
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
   border-radius: 20px;
}
.subscribe-header{
 font-size: 40px;
 font-weight: bold;
}
.ebtn{
display: flex;
justify-content: center;

}
.email{
    width: 600px;
    height: 37px;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px 0 0 5px ;
    
}
.ebtn1{
    height: 40px;
    text-align: center; 
    background-color:#006A50 ;
    color:white ;
    margin-top: 10px;
    padding-right: 15px;
    border-radius: 0 5px 5px 0;
   
}


footer{
    background-color: white;
    width: 100%;
    text-align: center;

}
.icon{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 20px;
}